body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: rgb(250, 8, 8);
    text-decoration: none;

}


.nav-left {
    margin-right: auto;

}

.nav-right {
    display: flex;
    padding-top: 2rem;

}

.post-entry {
    
    margin-bottom: 2rem;
    padding : 10px;
    margin : 10px;
    border-radius : 5px;
    width : 90%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.post-entry h2 {
    margin: 0.rem 0;
    
}

.post-entry h2 a,
.post-entry h2 a:visited {

    color:blue;
    text-decoration: none;

}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}